<section class="bg">
  <div class="flex-container" id="fbox">
    <div fxFlexOrder={{ord[0]}}><input type="image" id="img05" alt="block5" src={{src[5]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[1]}}><input type="image" id="img12" alt="block12" src={{src[12]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[2]}}><input type="image" id="img03" alt="block3" src={{src[3]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[3]}}><input type="image" id="img16" alt="block16" src={{src[16]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[4]}}><input type="image" id="img02" alt="block2" src={{src[2]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[5]}}><input type="image" id="img15" alt="block15" src={{src[15]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[6]}}><input type="image" id="img06" alt="block6" src={{src[6]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[7]}}><input type="image" id="img08" alt="block8" src={{src[8]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[8]}}><input type="image" id="img17" alt="block17" src={{src[17]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[9]}}><input type="image" id="img09" alt="block9" src={{src[9]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[10]}}><input type="image" id="img10" alt="block10" src={{src[10]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[11]}}><input type="image" id="img18" alt="block18" src={{src[18]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[12]}}><input type="image" id="img04" alt="block4" src={{src[4]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[13]}}><input type="image" id="img11" alt="block11" src={{src[11]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[14]}}><input type="image" id="img07" alt="block7" src={{src[7]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[15]}}><input type="image" id="img13" alt="block13" src={{src[13]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[16]}}><input type="image" id="img19" alt="block19" src={{src[19]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[17]}}><input type="image" id="img01" alt="block1" src={{src[1]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[18]}}><input type="image" id="img20" alt="block20" src={{src[20]}} (click)="flip($event)"></div>
    <div fxFlexOrder={{ord[19]}}><input type="image" id="img14" alt="block14" src={{src[14]}} (click)="flip($event)"></div>
  </div>
  <p><b>Time taken: </b><span>{{hr}}</span> hr: <span>{{min}}</span> min: <span>{{sec}}</span> sec</p>
</section>
